<div class="calc">
    <caption>
      Calculator
    </caption>
  
  
    <div class="displayedValue">
      {{sign === 1 ? '' : '-'}}{{result || currVal}}
    </div>
  
  
    <table border="2">
  
  
  
      <tbody>
  
        <tr>
          <th (click)="clickedClear()">{{ displayHasLastNum ? 'C' : 'AC'}}</th>
          <th (click)="clickedChangeSign()">+/-</th>
          <th (click)="clickedPercent()">%</th>
          <th class="yellow" (click)="clickedOperator('/')">/</th>
        </tr>
  
        <tr>
          <td (click)="onClickVal('7')">7</td>
          <td (click)="onClickVal('8')">8</td>
          <td (click)="onClickVal('9')">9</td>
          <td class="yellow" (click)="clickedOperator('*')">*</td>
        </tr>
  
        <tr>
          <td (click)="onClickVal('4')">4</td>
          <td (click)="onClickVal('5')">5</td>
          <td (click)="onClickVal('6')">6</td>
          <td class="yellow" (click)="clickedOperator('-')">-</td>
        </tr>
  
        <tr>
          <td (click)="onClickVal('1')">1</td>
          <td (click)="onClickVal('2')">2</td>
          <td (click)="onClickVal('3')">3</td> 
          <td class="yellow" (click)="clickedOperator('+')">+</td> 
        </tr>
  
        <tr>
          <td colspan="2" style="text-align: center;" (click)="onClickVal('0')">0</td>
          <td (click)="clickedComma()">.</td>
          <td class="yellow" (click)="clickedEquals()">=</td>
        </tr>
      </tbody>
    </table>
  </div>